* {
  box-sizing: border-box;
}

.so-body {
  width: 100%;
  padding: 0;
  margin: 0;
  /* background-color: #cccccc; */
}

.so-body--cursor {
  cursor: url("../images/guitar-tiny.png"), crosshair;
}

.so-body--cursor--no-guitar {
  cursor: auto;
}

.so-body--cursor--no-guitar .so-astronaut-box {
  cursor: auto;
}

.so-bounding-box {
  width: 100%;
  height: 100%;
  /* border: 5px solid red; */
  position: relative;
  /* overflow: hidden; */
}

.so-bounding-box--show-guitar  .so-astronaut-box--guitar {
  display: block;
}

.so-bounding-box--show-guitar  .so-astronaut-box--no-guitar {
  display: none;
}

.so-astronaut-box--guitar {
  display: none;
}

.so-astronaut-box--no-guitar {
  display: block;
}

.so-background {
  width: 100%;
  height: 100%;
  /* border: 5px solid blue; */
  position: absolute;
}
.so-space {
  width: 100%;
  height: 100%;
  /* opacity: 50%; */
}

.so-astronaut-box {
  width: 85px;
  height: 100px;
  /* border: 2px solid turquoise; */
  position: absolute;
  /* left: 100%; */
  top: 20%;
  animation: float 500s infinite;
  cursor: url("../images/guitar-tiny-angle.png"), auto;
}

.so-astronaut {
  width: 100%;
  /* position: absolute; */
}

.so-astronaut-guitar {
  position: absolute;
  /* left: 1%; */
  /* top: 20%; */
  /* animation: none; */
}

@keyframes float {
  0% {
    top: 20vh;
    left: 92vw;
  }
  15% {
    top: 35vh;
    left: 45vw;

  }
  30% {
    top: 50vh;
    left: 0vw;
    transform: rotate(70deg)
  }
  40% {
    top: 82vh;
    left: 10vw;
  }

  60% {
    top: 0vh;
    left: 40vw;
  }
  80% {
    top: 85vh;
    left: 75vw;
  }
  100% {
    top: 20vh;
    left: 92vw;
  }
}
